@model Database.Models.Course
@{
    ViewData["Title"] = "Lektioner";
}
    <a href="##" onClick="history.go(-1); return false;">Gå tillbaka</a>
<h1>Lektioner</h1>


    @{await Html.RenderPartialAsync("_Calendar", Model);}
