@model WebApp.ViewModels.ChangeProfilePictureViewModel

<div class="row">
    <div class="col-12" align="right">
        <a asp-action="ProfilePictureModal" data-toggle="modal" data-target="#ProfilePicModal">Byt profilbild</a>

    </div>

</div>



<div class="modal fade" id="ProfilePicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ändra Profilbild</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form enctype="multipart/form-data" asp-action="ChangeProfilePicture">
                <div class=" modal-body">
                    <input id="uploadImage" type="file" accept="image/*" asp-for="file" style="width: 100%;"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
                    <input type="submit" asp-action="ChangeProfilePicture" value="Spara" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
