@model WebApp.ViewModels.ChangePasswordViewModel

<div>
    <a asp-action="ProfilePageModal" data-toggle="modal" data-target="#registerModal">Ändra lösenord</a>
</div>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ändra lösenord</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="ChangePassword">
                <div class=" modal-body">
                    <label asp-for="Password" class="control-label">Nuvarande lösenord</label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class=" modal-body">
                    <label asp-for="NewPassword" class="control-label">Nytt lösenord</label>
                    <input asp-for="NewPassword" type="password" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class=" modal-body">
                    <label asp-for="ReNewPassword" class="control-label">Upprepa nytt lösenord</label>
                    <input asp-for="ReNewPassword" type="password" class="form-control" />
                    <span asp-validation-for="ReNewPassword" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
                    <input type="submit" asp-action="ChangePassword" value="Spara" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>