@model WebApp.ViewModels.NewPassword
@{
    ViewData["Title"] = "NewPassword";
}
    <a href="##" onClick="history.go(-1); return false;">Gå tillbaka</a>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <h1>Återställ lösenord</h1>
                <form asp-action="SetNewPassword" asp-controller="PasswordRecovery">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @Html.HiddenFor(m => m.Token)
                    <div class="form-group">
                        <label asp-for="Password" class="control-label">Lösenord</label>
                        <input asp-for="Password" class="form-control" type="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RePassword" class="control-label">Lösenord igen</label>
                        <input asp-for="RePassword" class="form-control" type="password" />
                        <span asp-validation-for="RePassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Skicka" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>

