@model WebApp.ViewModels.UserEmail
@{
    ViewData["Title"] = "Återställ lösenord";
}
    <a href="##" onClick="history.go(-1); return false;">Gå tillbaka</a>
<div class="container">
    <div class="row">
        <div class="col"></div>

        <div class="col-sm-auto">
            <h1>Återställ lösenord</h1>
            <form asp-action="RecoverPassword" asp-controller="PasswordRecovery">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label">Mejladdress</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Skicka" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>