@model WebApp.ViewModels.UserEmail
@{
    ViewData["Title"] = "Återställ lösenord";
}

<div class="row">
    <div class="col-md-6" align="center">
        <h1>Återställ lösenord</h1>
        <form asp-action="RecoverPassword" asp-controller="PasswordRecovery">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email" class="control-label">Mejladdress</label>
                <input asp-for="Email" value="@Model.Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Skicka" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>