@model IEnumerable<WebApp.ViewModels.CourseParticipantViewModel>

@{
    ViewData["Title"] = "CourseParticipantList";
}

<h1>CourseParticipantList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Namn
            </th>
            <th>
                Roll
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Role
            </td>
        </tr>
}
    </tbody>
</table>
