@model WebApp.ViewModels.CourseParticipantViewModel

@{
    ViewData["Title"] = "Ändra kursdeltagare";
}
    <a href="##" onClick="history.go(-1); return false;">Gå tillbaka</a>
<h1>Ändra kursdeltagare</h1>

<h4>@Model.User.FirstName @Model.User.LastNames</h4>
<a href="##" onClick="history.go(-1); return false;">Gå tillbaka</a>
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCourseParticipant">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input hidden asp-for="Id" class="form-control" />

            <input hidden asp-for="UserId" class="form-control" />

            <input hidden asp-for="CourseId" class="form-control" />
            @if (Model.isSchoolAdmin || Model.isSuperUser)
            {
                <div class="form-group">
                    <label asp-for="Role" class="control-label">Roll</label>
                    <select asp-for="Role" asp-items="Html.GetEnumSelectList<Database.Models.Roles>()"></select>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label">Status</label>
                    <select asp-for="Status" asp-items="Html.GetEnumSelectList<Database.Models.Status>()"></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            }
            @if (Model.Role == Database.Models.Roles.Student && Model.isTeacher)
            {
                <div class="form-group">
                    <label asp-for="Grade" class="control-label">Betyg</label>
                    @Html.DropDownListFor(x => Model.Grade, new SelectList(Model.Grades), htmlAttributes: new { @class = "form-group", id = "Grade" })
                    <span asp-validation-for="Grade" class="text-danger"></span>
                    <div>Obs! Du kan bara ändra betyg om du redan är lärare på kursen</div>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


