
@{
    ViewData["Title"] = "Om Skolpatrullen";
}
<a href="##" onClick="history.go(-1); return false;">Gå tillbaka</a>
<h1>@ViewData["Title"]</h1>


<h4>Det här är ett projekt skapat av 8 studenter vid IT-högskolan i Stockholm</h4>
<h5>Vi som deltagit i projektet är:</h5>
<div class="row">
    <h6 class="col">Issa</h6>
    <h6 class="col">Joel</h6>
    <h6 class="col">Johan</h6>
    <h6 class="col">Linus</h6>
    <h6 class="col">Madeleine</h6>
    <h6 class="col">Magnus</h6>
    <h6 class="col">Matilda</h6>
    <h6 class="col">Micke</h6>
</div>
