@{
    ViewData["Title"] = "Privacy Policy";
}
    <a href="##" onClick="history.go(-1); return false;">Gå tillbaka</a>
<h1>@ViewData["Title"]</h1>

<p>Här står det en massa rolig information om rättigheter.</p>