
@{
    ViewData["Title"] = "Privacy Policy";
}
<a href="##" onClick="history.go(-1); return false;">Gå tillbaka</a>
<h1>@ViewData["Title"]</h1>

<script>
    $(document).ready(function () {
        var maxLength = 200;
        $(".show-read-more").each(function () {
            var myStr = $(this).text();
            if ($.trim(myStr).length > maxLength) {
                var newStr = myStr.substring(0, maxLength);
                var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                $(this).empty().html(newStr);
                $(this).append(' <a href="javascript:void(0);" class="read-more"><label class="btn-link">läs mer...</label></a>');
                $(this).append('<span class="more-text">' + removedStr + '</span>');
            }
        });
        $(".read-more").click(function () {
            $(this).siblings(".more-text").contents().unwrap();
            $(this).remove();
        });
    });
</script>
<style>
    .show-read-more .more-text {
        display: none;
    }
</style>

<br />
<br />
<body>
    <h6>Här står det en massa rolig information om rättigheter och GDPR</h6>
    <p class="show-read-more">Vi kan komma att sälja alla uppgifter till tredje part i forna Sovjetunionen. Vi vänder oss enbart till personer över 18 år. Vi kommer behålla alla uppgifter för all framtid. Om ni vill ta bort eller rätta några uppgifter får ni vända er till vår obefintliga supportavdelning i Antarktis. Skolpatrullen har ingen tillgång till lösenord och därför kan vi tyvärr inte sälja sån information vidare.</p>
</body>

