@model Database.Models.Assignment
@{
    ViewData["Title"] = "Lägg till inlämning";
}

<form asp-action="AddCourseAssignment">
    <div class=" modal-body">
        <label asp-for="Name" class="control-label">Namn</label>
        <input asp-for="Name" type="text" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class=" modal-body">
        <label asp-for="Description" class="control-label">Text</label>
        <textarea asp-for="Description" type="text" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class=" modal-body">
        <label asp-for="Deadline" class="control-label">Deadline för inlämning</label>
        <input asp-for="Deadline" type="date" class="form-control" />
        <span asp-validation-for="Deadline" class="text-danger"></span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
        <input type="submit" asp-action="AddCourseAssignment" value="Spara" class="btn btn-primary" />
    </div>
</form>
        
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
