@model WebApp.ViewModels.CourseListViewModel
@{
    ViewData["Title"] = "CourseList";
}

<h1>Alla kurser</h1>
<form asp-controller="Course" asp-action="CourseList">
    <p>
        Kursnamn: <input type="text" name="id">
        <input type="submit" value="Sök" />
    </p>
</form>
@foreach (var school in Model.SchoolList) {
<div class="bg-light ">
    <div class="alert-primary">Skola: @Html.DisplayFor(modelItem => school.Name)</div>
    <div class="list-group">


        @foreach (var course in Model.CourseList.Where(c => c.SchoolId == school.Id).OrderByDescending(d => d.StartDate))
        {
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="CourseParticipant" 
               asp-action="AddCourseParticipant" asp-route-Id="@course.Id">
                <label class="font-weight-bold">@Html.DisplayFor(modelItem => course.Name): </label>
         @Convert.ToString(string.Format("{0:yyyy/MM/dd}", course.StartDate))-@Convert.ToString(string.Format("{0:yyyy/MM/dd}", course.EndDate))</a>
        }
    </div>
    <hr />
</div>        
}