@model Database.Models.Course

@{
    ViewData["Title"] = "CourseDetails";
}

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->

        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav mr-4">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Nyheter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="@Url.Action("CourseParticipantList", "courseparticipant", new { id = Model.Id })">Deltagare</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="@Url.Action("LessonCalendar", "lesson" , new { id = Model.Id })">Kalender</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Inlämningar</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1 class="mt-4">Nyheter</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>