
@{
    ViewData["Title"] = "LoginPage";
}

<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <form>
            <div class="col">
                <div class="form-group">
                    <label for="exampleInputEmail1">Epostadress</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Lägg till email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Lösenord</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Lösenord">
                </div>
                <button type="submit" class="btn btn-primary">Logga in</button>
                <button type="submit" class="btn btn-outline-primary float-right">Registrera dig</button>
            </div>
        </form>
        <div class="col">
        </div>
    </div>
</div>