@model WebApp.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Logga in";
}
    <a href="##" onClick="history.go(-1); return false;">Gå tillbaka</a>

<div class="container">

    <div class="row">
        <div class="col">
        </div>

        <div class="col-sm-auto">
            <form method="post" asp-action="LoginPage">
                <p></p>
                <div class="form-group">
                    <label asp-for="Email">Epostadress</label>
                    <input asp-for="Email" type="email" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password">Lösenord</label>
                    <input asp-for="Password" type="password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Logga in</button>
                <p></p>
                <a class="btn btn-outline-dark btn-sm" asp-area="" asp-controller="PasswordRecovery" asp-action="RecoverPassword">Glömt lösenord?</a>
                <a class="btn btn-outline-dark btn-sm" asp-area="" asp-controller="Register" asp-action="RegisterPage">Registrera dig</a>

            </form>
        </div>

        <div class="col">
        </div>
    </div>
</div>